.ReactCollapse--collapse {
    transition: height 500ms ease-in-out;
}
.ReactCollapse--content {
    padding: 30px 0 30px 50px;

}

.faq {
    padding-bottom: 150px;
    &__title {
        font-size: 30px;
        font-family: "Oswald";
        color: rgb(28, 28, 27);
        text-transform: uppercase;
        text-align: center;
    }


}

.accordeon {
    margin: 0 auto 0 auto;
    padding: 0 15px 0 15px;
    max-width: 570px;

    &__btn {
        font-size: 18px;
        font-family: "Oswald";
        color: rgb(110, 119, 74);
        text-align: left;
        border: none;
        border-bottom: 2px solid rgb(234, 237, 222);
        background-color: transparent;
        display: flex;
        justify-content: start;
        align-items: center;
        height: 75px;
        width: 100%;
        transition: all 0.5s ease-in-out;        
        &--active {
            & svg {
                transition: all 0.5s ease-in-out;
                transform: rotate(45deg);
            }
            
        }

        & svg {
            margin-right: 29px;
        }

        &:first-of-type {
            border-top: 2px solid rgb(234, 237, 222);
        }
    }
}

