.testimonial {
    position: relative;
    background-image: url('testimonial-bg.png');
    background-position: top center;
    background-size: cover;
    height: 100vh;
    &__cover {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(28, 32, 11, 0.6);

    }


    &-rotated {
        display: flex;
        align-items: center;
        position: absolute;
        left:0;
        bottom: 0px;
        transform-origin: top left;
        transform: rotate(90deg) translate(-100%, -200%);
        &__text {
            margin-left: 30px;
            font-size: 26px;
            font-family: "Oswald";
            color: rgb(255, 255, 255);
            text-transform: uppercase;
        }
    }
    &-slick {
        height: 100%;
    }
}


.tArr {
    &--l {
        position: absolute;
        bottom: 0;
        right: 50%;
        z-index: 79;
    }
    &--r {
        position: absolute;
        bottom: 0;
        left: 50%;
        z-index: 80;
    }


}



.comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    &__text {
        font-size: 22px;
        font-family: "Oswald";
        color: rgb(255, 255, 255);
        line-height: 1.818;
        text-align: center;
        max-width: 747px;
        margin: 35px 0 20px 0;
    }
    &__author {
        font-size: 24px;
        font-family: "Oswald";
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        max-width: 747px;
        margin: 0;
    }
}