.App {
    position: relative;
}

* {
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: rgb(247, 248, 243);
}

html {
    scroll-behavior: smooth;
    transition: scroll-behavior 1s ease-in-out;
}